# `envsubst` template.

charset     utf-8;

# Default configuration
server {
    listen 80 default_server;
    listen [::]:80 default_server;

    root /var/www/html;

    # Add index.php to the list if you are using PHP
    index index.html index.htm index.nginx-debian.html;

    server_name $hostname;

    location / {
        # return empty response
        return 204;
    }

    # Proxy ELB status
    location ~ /elb/([^/]*)/(.*)$ {
        resolver 127.0.0.1;
        proxy_pass http://127.0.0.1/$2;
        proxy_set_header Host $1;
        proxy_intercept_errors on;
        access_log  off;
    }
}

# KoboCAT
server {
    listen      80;
    server_name ${KOBOCAT_PUBLIC_SUBDOMAIN}.${PUBLIC_DOMAIN_NAME} ${KOBOCAT_PUBLIC_SUBDOMAIN}.${INTERNAL_DOMAIN_NAME};

    access_log  /var/log/nginx/kobocat.access.log with_host;
    error_log   /var/log/nginx/kobocat.error.log;

    include /etc/nginx/includes/server_directive_common.conf;

    location /static {
        alias /srv/www/kpi;
    }

    # /<username>/bulk-submission
    # /<username>/bulk-submission-form
    location ~ ^/.+/bulk-submission(-form)?$ {
        # Proxy through uWSGI or Django webserver
        include /etc/nginx/includes/proxy_pass.conf;
    }

    # /<username>/exports/<id_string>/<export_type>/
    # /<username>/exports/<id_string>/<export_type>/<filename>
    # /<username>/exports/<id_string>/<export_type>/delete
    # /<username>/exports/<id_string>/<export_type>/new
    # /<username>/exports/<id_string>/<export_type>/progress
    # /<username>/forms/<id_string>/form\.json
    # /<username>/forms/<id_string>/form\.xls
    # /<username>/forms/<pk>/form\.xml
    location ~ ^/.+/(exports|forms)/.+/ {
        # Proxy through uWSGI or Django webserver
        include /etc/nginx/includes/proxy_pass.conf;
    }

    # /<username>/formList
    # /<username>/submission
    # /<username>/xformsManifest/<pk>
    # /<username>/xformsMedia/<pk>/<metadata>
    # /<username>/xformsMedia/<pk>/<metadata>\.<format>
    location ~ ^/.+/(formList|submission|xformsManifest|xformsMedia) {
        # Proxy through uWSGI or Django webserver
        include /etc/nginx/includes/proxy_pass.conf;
    }

    # /attachment/
    # /attachment/<size>
    # /media/
    # /media/<size>
    location ~ ^/(attachment|media)/(.*)$ {
        # Proxy through uWSGI or Django webserver
        include /etc/nginx/includes/proxy_pass.conf;
    }

    # /formList
    # /formUpload
    # /submission
    # /upload
    location ~ ^/(formList|formUpload|submission|upload)$ {
        # Proxy through uWSGI or Django webserver
        include /etc/nginx/includes/proxy_pass.conf;
    }

    # /view/downloadSubmission
    # /view/submissionList
    location ~ ^/view/(downloadSubmission|submissionList)$ {
        # Proxy through uWSGI or Django webserver
        include /etc/nginx/includes/proxy_pass.conf;
    }

    # /forms/<pk>/form\.xml
    # /xformsManifest/<pk>
    # /xformsMedia/<pk>/<metadata>
    # /xformsMedia/<pk>/<metadata>\.<format>
    location ~ ^/(forms|xformsManifest|xformsMedia|xformsMedia)/([0-9]+) {
        # Proxy through uWSGI or Django webserver
        include /etc/nginx/includes/proxy_pass.conf;
    }

    # Anything that starts with `/api/v1`
    location /api/v1 {
        # Proxy through uWSGI or Django webserver
        include /etc/nginx/includes/proxy_pass.conf;
    }

    # /legacy/service_health/
    # /legacy/service_health/minimal/
    location /legacy/ {
        # Proxy through uWSGI or Django webserver
        include /etc/nginx/includes/proxy_pass.conf;
    }

    include /etc/nginx/includes/protected_directive.conf;

    location / {
        return 404;
    }
}

# KPI
server {
    listen      80;
    server_name ${KOBOFORM_PUBLIC_SUBDOMAIN}.${PUBLIC_DOMAIN_NAME} ${KOBOFORM_PUBLIC_SUBDOMAIN}.${INTERNAL_DOMAIN_NAME};

    include /etc/nginx/includes/server_directive_common.conf;

    location ~ ^/forms/(.*) {
        return 301 /$1;
    }

    # Block KoboCAT api if the domain is wrong
    location /api/v1 {
        return 404;
    }

    access_log  /var/log/nginx/kpi.access.log with_host;
    error_log   /var/log/nginx/kpi.error.log;

    location /static {
        alias /srv/www/kpi;
    }

    # public media, e.g. custom logos (KPI `ConfigurationFile`s)
    location /media/__public {
        alias /srv/kpi_media/__public;
    }

    location / {
        # Proxy through uWSGI or Django webserver
        include /etc/nginx/includes/proxy_pass.conf;
    }

    include /etc/nginx/includes/protected_directive.conf;
}

# Enketo Express
server {
    listen 80;
    server_name ${ENKETO_EXPRESS_PUBLIC_SUBDOMAIN}.${PUBLIC_DOMAIN_NAME} ${ENKETO_EXPRESS_PUBLIC_SUBDOMAIN}.${INTERNAL_DOMAIN_NAME};

    resolver 127.0.0.11 ipv6=off valid=1s;

    include /etc/nginx/includes/server_directive_common.conf;

    # add_header Strict-Transport-Security max-age=63072000;
    # add_header X-Frame-Options DENY;
    add_header X-Content-Type-Options nosniff;

    proxy_set_header Host $host${NGINX_PUBLIC_PORT};
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $http_x_forwarded_proto; # Needs ELB protocol

    access_log  /var/log/nginx/enketo_express.access.log with_host;
    error_log   /var/log/nginx/enketo_express.error.log;

    location / {
        proxy_pass  http://enketo_express:8005;
        proxy_redirect off;
    }
}
