# `envsubst` template.
# Context: location

# Nginx DNS resolution issue fix
# See https://www.jethrocarr.com/2013/11/02/nginx-reverse-proxies-and-dns-resolution/
# 127.0.0.11 is internal docker DNS server (see `cat /etc/resolv.conf`)
resolver 127.0.0.11 ipv6=off valid=1s;
proxy_pass http://kpi:8000;
proxy_set_header Host $host:$proxy_port;
proxy_set_header X-Real-IP $remote_addr;
proxy_set_header X-Forwarded-For $remote_addr;
proxy_set_header X-Forwarded-Host $host${NGINX_PUBLIC_PORT};
proxy_redirect off;

# Add ranges support.
# Useful to enable fast calculation for hash of content accessible by URL
proxy_force_ranges on;
