# For public, HTTPS servers.
version: '3'

services:

  maintenance:
    image: nginx:latest
    hostname: maintenance
    env_file:
      - ../kobo-deployments/envfile.txt
    environment:
      - ETA=2 hours
      - DATE_STR=January 1, 1970 at 00:00 GMT
      - DATE_ISO=19700101T0000
      - EMAIL=support@kobotoolbox.org
    ports:
      - 80:80
    volumes:
        - ./log/nginx:/var/log/nginx
        - ./nginx/:/tmp/kobo_nginx/:ro
    command: "/bin/bash /tmp/kobo_nginx/maintenance/nginx_command.bash"
    restart: on-failure
    networks:
      - kobo-maintenance-network

networks:
  kobo-maintenance-network:
    driver: bridge
