# Override for front-end servers
version: '3'

services:
  kobocat:
    environment:
      # change `ENKETO_PROTOCOL` to http if HTTPS is not used
      - ENKETO_PROTOCOL=https
      # `NGINX_PUBLIC_PORT` is the port used to access KoboToolbox (e.g. `https://kc.kobotoolbox.org:<NGINX_PUBLIC_PORT>`)
      - NGINX_PUBLIC_PORT=80
      # Uncomment the lines below to tweak uWSGI
      #- KC_UWSGI_WORKERS_COUNT=2
      #- KC_UWSGI_CHEAPER_WORKERS_COUNT=1
      #- KC_UWSGI_MAX_REQUESTS=512
      #- KC_UWSGI_CHEAPER_RSS_LIMIT_SOFT=134217728
      #- KC_UWSGI_HARAKIRI=120
      #- KC_UWSGI_WORKER_RELOAD_MERCY=120
    networks:
      kobo-be-network:
        aliases:
          - kobocat
          - kobocat.docker.container

  kpi:
    environment:
      # `NGINX_PUBLIC_PORT` is the port used to access KoboToolbox (e.g. `https://kf.kobotoolbox.org:<NGINX_PUBLIC_PORT>`)
      - NGINX_PUBLIC_PORT=80
      # Uncomment the lines below to tweak uWSGI
      #- KPI_UWSGI_WORKERS_COUNT=2
      #- KPI_UWSGI_CHEAPER_WORKERS_COUNT=1
      #- KPI_UWSGI_MAX_REQUESTS=512
      #- KPI_UWSGI_CHEAPER_RSS_LIMIT_SOFT=134217728
      #- KPI_UWSGI_HARAKIRI=120
      #- KPI_UWSGI_WORKER_RELOAD_MERCY=120
      # Comment out the line below if HTTPS is not used
      - SECURE_PROXY_SSL_HEADER=HTTP_X_FORWARDED_PROTO, https
    networks:
      kobo-be-network:
        aliases:
          - kpi
          - kpi.docker.container

  nginx:
    environment:
      # `NGINX_PUBLIC_PORT` is the port used to access KoboToolbox (e.g. `https://kf.kobotoolbox.org:<NGINX_PUBLIC_PORT>`)
      - NGINX_PUBLIC_PORT=80
      #- UWSGI_PASS_TIMEOUT=130
    ports:
      # <proxy_port>:80 . If no proxies, `proxy_port` should be the same as `NGINX_PUBLIC_PORT`
      - 80:80
    networks:
      kobo-fe-network:
        aliases:
          - nginx
          # These aliases must match the concatenation of `*_PUBLIC_SUBDOMAIN` and `INTERNAL_DOMAIN_NAME`
          # found in `../kobo-env/envfile.txt`
          - kf.docker.internal
          - kc.docker.internal
          - ee.docker.internal

  enketo_express:
    networks:
      kobo-be-network:
        aliases:
          - enketo_express

networks:
  kobo-be-network:
    external:
      # name: <prefix>_kobo-be-network`, where `prefix` is usually the parent
      # folder name
      name: kobodocker_kobo-be-network
