# `envsubst` template.

charset     utf-8;

# Default configuration
server {
    listen 80 default_server;
    listen [::]:80 default_server;

    root /var/www/html;

    # Add index.php to the list if you are using PHP
    index index.html index.htm index.nginx-debian.html;

    server_name $hostname;

    location / {
        # return empty response
        return 204;
    }

    # Proxy ELB status
    location ~ /elb/([^/]*)/(.*)$ {
        resolver 127.0.0.1;
        proxy_pass http://127.0.0.1/$2;
        proxy_set_header Host $1;
        proxy_intercept_errors on;
        access_log  off;
    }
}

# KoBoCAT HTTP.
server {
    listen      80;
    server_name ${KOBOCAT_PUBLIC_SUBDOMAIN}.${PUBLIC_DOMAIN_NAME} ${KOBOCAT_PUBLIC_SUBDOMAIN}.${INTERNAL_DOMAIN_NAME};

    access_log  /var/log/nginx/kobocat.access.log with_host;
    error_log   /var/log/nginx/kobocat.error.log;

    include /etc/nginx/include.server_directive_common.conf;

    location / {
        # Proxy through uWSGI.
        ${kobocat_include_uwsgi_pass}

        # Debug proxying directly to container.
        ${kobocat_include_proxy_pass}
    }

    ${kobocat_location_static}

    # media files
    location /protected/ {
        internal;
        alias /media/;
    }

    location ~ ^/protected-s3/(.*?)/(.*) {
        internal;
        set $aws_access_key   'AWSAccessKeyId=$arg_AWSAccessKeyId';
        set $url_expires      'Expires=$arg_Expires';
        set $url_signature    'Signature=$arg_Signature';
        set $bucket_domain_name '$1.s3.amazonaws.com';
        set $args_full        'https://$bucket_domain_name/$2?$aws_access_key&$url_expires&$url_signature';
        proxy_set_header       Host $bucket_domain_name;
        proxy_http_version     1.1;
        proxy_set_header       Authorization '';
        proxy_hide_header      x-amz-id-2;
        proxy_hide_header      x-amz-request-id;
        proxy_hide_header      Set-Cookie;
        proxy_ignore_headers   "Set-Cookie";
        proxy_buffering        off;
        proxy_intercept_errors off;
        resolver               8.8.8.8 valid=300s;
        resolver_timeout       10s;
        proxy_pass             $args_full;
    }
}

# KoBoForm HTTP.
server {
    listen      80;
    server_name ${KOBOFORM_PUBLIC_SUBDOMAIN}.${PUBLIC_DOMAIN_NAME} ${KOBOFORM_PUBLIC_SUBDOMAIN}.${INTERNAL_DOMAIN_NAME};

    include /etc/nginx/include.server_directive_common.conf;

    location ~ ^/forms/(.*) {
        return 301 /$1;
    }

    access_log  /var/log/nginx/kpi.access.log with_host;
    error_log   /var/log/nginx/kpi.error.log;

    ${kpi_location_static}

    error_page 418 = /static/html/Offline.html;

    location / {
        # Proxy through uWSGI.
        ${kpi_include_uwsgi_pass}

        # Debug proxying directly to container.
        ${kpi_include_proxy_pass}
    }
}

server {
    listen 80;
    server_name ${ENKETO_EXPRESS_PUBLIC_SUBDOMAIN}.${PUBLIC_DOMAIN_NAME} ${ENKETO_EXPRESS_PUBLIC_SUBDOMAIN}.${INTERNAL_DOMAIN_NAME};

    resolver 8.8.4.4 8.8.8.8 valid=300s;
    resolver_timeout 10s;

    include /etc/nginx/include.server_directive_common.conf;

    # add_header Strict-Transport-Security max-age=63072000;
    # add_header X-Frame-Options DENY;
    add_header X-Content-Type-Options nosniff;

    proxy_set_header Host $host${container_public_port};
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $http_x_forwarded_proto; # Needs ELB protocol

    access_log  /var/log/nginx/enketo_express.access.log with_host;
    error_log   /var/log/nginx/enketo_express.error.log;

    location / {
        proxy_pass  http://enketo_express:8005/;
        proxy_redirect off;
    }
}
