# `envsubst` template.
# Context: http

charset     utf-8;

# KoBoCAT
server {
    listen 9001;

    access_log  /var/log/nginx/kobocat.access.log;
    error_log   /var/log/nginx/kobocat.error.log;

    # max upload size
    client_max_body_size 100M;

    # Serve locations containing 'submission' or 'formList' via HTTP without
    # further ado, since ODK Collect makes requests containing those terms and
    # does not support any kind of redirection.
    location ~ (submission|formList) {
        # Proxy through uWSGI.
        ${kobocat_include_uwsgi_pass}

        # Debug proxying directly to container.
        ${kobocat_include_proxy_pass}
    }

    ${kobocat_location_static}

    location / {
        # Proxy through uWSGI.
        ${kobocat_include_uwsgi_pass}

        # Debug proxying directly to container.
        ${kobocat_include_proxy_pass}
    }

    # media files
    location /protected/ {
        internal;
        alias /media/;
    }

    location ~ ^/protected-s3/(.*?)/(.*) {
        internal;
        set $aws_access_key   'AWSAccessKeyId=$arg_AWSAccessKeyId';
        set $url_expires      'Expires=$arg_Expires';
        set $url_signature    'Signature=$arg_Signature';
        set $bucket_domain_name '$1.s3.amazonaws.com';
        set $args_full        'http://$bucket_domain_name/$2?$aws_access_key&$url_expires&$url_signature';
        proxy_set_header       Host $bucket_domain_name;
        proxy_http_version     1.1;
        proxy_set_header       Authorization '';
        proxy_hide_header      x-amz-id-2;
        proxy_hide_header      x-amz-request-id;
        proxy_hide_header      Set-Cookie;
        proxy_ignore_headers   "Set-Cookie";
        proxy_buffering        off;
        proxy_intercept_errors off;
        resolver               8.8.8.8 valid=300s;
        resolver_timeout       10s;
        proxy_pass             $args_full;
    }

}

# kpi
server {
    listen 9000;

    access_log  /var/log/nginx/kpi.access.log;
    error_log   /var/log/nginx/kpi.error.log;

    client_max_body_size 100M;

    ${kpi_location_static}

    error_page 418 = /static/html/Offline.html;

    location / {
        # Proxy through uWSGI.
        ${kpi_include_uwsgi_pass}

        # Debug proxying directly to container.
        ${kpi_include_proxy_pass}
    }
}

# Enketo Express
server {
    listen 9005;

    access_log  /var/log/nginx/enketo_express.access.log;
    error_log   /var/log/nginx/enketo_express.error.log;

    client_max_body_size 100M;

    location / {
        proxy_pass  http://enketo_express:8005/;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr ;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for ;
    }
}
