
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>KoboToolbox Temporarily Offline</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <!-- iPhone + iPad icons -->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <!-- Android -->
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <!-- Microsoft -->
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <style>
            html, body {
                min-height: 100%;
                min-width: 100%;
            }
            body {
                background: rgb(176, 138, 106);
                background-image: url(/background.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                margin: 0;
                font-family: sans-serif;
                color: white;
            }
            a {
                text-decoration: none;
                color: rgb(29, 174, 227);
            }
            #photo-credit {
                position: absolute;
                bottom: 0;
                right: 0;
                font-size: 0.7em;
            }
            #photo-credit a {
                color: white;
            }
            #content-container {
                margin: 0 auto;
                margin-top: 40px;
                padding: 30px;
                max-width: 640px;
                background: rgba(0, 0, 0, 0.65);
                line-height: 1.4;
            }
            #content-container p:last-of-type {
                margin-top: 40px;
                margin-bottom: 0;
                font-size: smaller;
            }
            #kobo-logo {
                max-width: 60%;
                margin-left: 20%;
                margin-bottom: 30px;
            }
        </style>
    </head>
    <body>
        <div id="content-container">
            <a href="${PUBLIC_REQUEST_SCHEME}://${KOBOFORM_PUBLIC_SUBDOMAIN}.${PUBLIC_DOMAIN_NAME}"><img id="kobo-logo" src="/kobologo.svg"></a>

            <h2>
                KoboToolbox is currently under maintenance.
            </h2>

            <p>Hi, as announced within the KoboToolbox platform, this <b>${DATE_STR}</b> we are performing some necessary maintenance to <a href="${PUBLIC_REQUEST_SCHEME}://${KOBOFORM_PUBLIC_SUBDOMAIN}.${PUBLIC_DOMAIN_NAME}" rel="nofollow noopener noreferrer">${KOBOFORM_PUBLIC_SUBDOMAIN}.${PUBLIC_DOMAIN_NAME}</a>.</p>
            <p>Please <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=${KOBOFORM_PUBLIC_SUBDOMAIN}.${PUBLIC_DOMAIN_NAME}+server+maintenance&amp;iso=${DATE_ISO}" rel="nofollow noopener noreferrer" target="_blank">check here</a> for the exact time in your local time zone</p>
            <p>
                This may take up to <b>${ETA}</b>, during which this site will be unavailable. Please note that you will not be able to submit new records during this timeframe. However, if someone tries to submit data, it will remain stored safely on their device until it can be submitted again later.
            </p>
            <p>We apologize for any inconvenience caused.</p>

            <p>
                If you have any questions or concerns, please contact us at <a href="mailto:${EMAIL}">${EMAIL}</a>.
            </p>
        <div>
        <div id="photo-credit">
            <a href="https://flic.kr/p/9v4mC5" title="Muhkjar refugee camp" target="_blank">Photo</a> by UNAMID / <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/" target="_blank">by-nc-nd</a>
        </div>
    </body>
</html>
